
*.pyc
*.pyo
.~lock*
vmuser/*
!vmuser/info.txt
cap/*
!cap/dummy.txt

plugins/*
!plugins/romdump.xascmd
!plugins/sstnpl.xascmd
!plugins/asm.xascmd
!plugins/vmpygame.xascmd
!plugins/vmcurses.xascmd
!plugins/vmbare.xascmd
!plugins/gfxcon.xascmd
!plugins/build.xashelp
!plugins/builtins.xashelp
!plugins/romdump.xashelp
!plugins/tools.xashelp
!plugins/vmcurses.xashelp
!plugins/vmpygame.xashelp
!plugins/vmbare.xashelp

