*.pyc
*.pyo
.~lock*
vmuser/*
!vmuser/info.txt
cap/*
!cap/dummy.txt

plugins/*
!plugins/romdump.xascmd
!plugins/sstnpl.xascmd
!plugins/asm.xascmd
!plugins/vmpygame.xascmd
!plugins/vmcurses.xascmd
!plugins/gfxcon.xascmd